body {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(221, 169, 125);
    margin-top: 10px;
    text-align: center;
}

.diminuir_imagem{
    width: 600px;
}

.display_flex{
    display: flex;
}

.menu{
    background-color: rgb(152, 95, 37);
    width: 400px;
    height: 130px;
    border-radius: 20px;
    padding: 3px;
    margin: 10px;
}

.tamanho_logo{
    width: 120px;
    padding-left: 700px;
}

.posicao_seta{
    padding-left: 20px;
}

.botao_produtos{
    background-color: rgb(194, 132, 70);
    width: 230px;
    height: 100px;
    border-radius: 20px;
    color: black;
    margin-left: 190px;
    font-weight: bold;
}

.tamanho_icones_produtos{
    width: 80px;
}

.header_background{
background-color: #985f25;
height: 110px;
display: flex;
align-items: center;
}

.botao_menu{
    background-color: rgb(194, 132, 70);
    margin-top: 5px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

.imagem_produtos{
    width: 40px;
}

.header_esquerda{
    background-color: #985f25;
    width:110px;
}

.quadrado_marrom{
    background-color: peru;
    width: 300px;
    padding: 50px;
    margin: 150px;
    color:black;
    border-radius: 10%;
    margin-left:750px;
}

.diminuir_imagem2{
    width:60px;
}

.form_produto{
    background-color: rgb(152, 95, 37);
    width: 300px;
    border-radius: 20px;
    padding: 3px;
 
}