body {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(221, 169, 125);
    margin-top: 10px;
    text-align: center;
}

.diminuirImagem{
    width: 600px;
}

.menu{
    background-color: rgb(152, 95, 37);
    padding: 3px;
    margin: 10px;
}

.header_background{
background-color: #985f25;
height: 150px;
}

.botaoMenu{
    background-color: rgb(194, 132, 70);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

.imagemProdutos{
    width: 40px;
}

.header_esquerda{
    background-color: #985f25;
    height: 150px;
    padding-left: 100px;
}